<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CteValidacionMasiva.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CteValidacionMasiva.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CteValidacionMasiva.My.MySettings>
            <setting name="CteValidacionMasiva_ProxyWsGetArchivos_ProcWsGetArchivosProceso"
                serializeAs="String">
                <value>http://proveedores.gomart.com.mx:8081/GMD200/procwsgetarchivosproceso.aspx</value>
            </setting>
            <setting name="CteValidacionMasiva_ProxyWSGetFacturasCM_ProcWSGetFacturasCM"
                serializeAs="String">
                <value>http://proveedores.gomart.com.mx:8081/GMD200/procwsgetfacturascm.aspx</value>
            </setting>
            <setting name="SegundosTimeOutWs" serializeAs="String">
                <value>7200</value>
            </setting>
            <setting name="CteValidacionMasiva_ProxyWSUpdStatusCM_ProcWSUpdStatusCM"
                serializeAs="String">
                <value>http://proveedores.gomart.com.mx:8081/GMD200/procwsupdstatuscm.aspx</value>
            </setting>
        </CteValidacionMasiva.My.MySettings>
      
    </applicationSettings>
    <userSettings>
        <CteValidacionMasiva.My.MySettings>
            <setting name="MAXTHREADS" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SLEEPSEGUNDOS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UsarThreads" serializeAs="String">
                <value>True</value>
            </setting>
        </CteValidacionMasiva.My.MySettings>
    </userSettings>
</configuration>